body {
    background-color:black;
    margin-bottom:40px;
}



/*HEADER ------------------------------------------------------ */
#home {
    width: 400px;
    height: 200px;
    
}
/* Main Select Screen ----------------------------------------- */
.characterIcon {
    width:220px;
    height:220px;

    border-radius: 25px;
    border: 10px solid black;
    background-color: rgb(107, 107, 107);
}
.characterIconContainer {
    position: relative; 
    width: 240px;
    height:400px;
    margin:25px;

    background-color: rgb(62, 63, 70);
}
.characterIconContainer:hover {
    background-color: white;
    border-radius: 26px;
}
.franchiseIcon {
    position:absolute;
    top: 215px;
    left:20px;

    width:200px;
    height:200px;  
}
.header {
    background-color:red;
    
}

.headerText {
    color:antiquewhite;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    font-weight:bold;
}
.label {
    position:relative;
    top: 40px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:3em;
    font-weight:bold;
    text-align:center;

    color:antiquewhite;
    -webkit-text-stroke: 4px black;
    text-shadow:
       0px 0px 10px #FFF;
}
#mainCharacterSelect {
    position: absolute;
    top:10%;
    left:1%;
}
.tierHeader {
    border: 10px solid black;
    background-color: rgb(250, 207, 14);

    width: 400px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bold;
    font-size:3em;
    text-align:center;
}
.tierList {
    background-color:rgb(62, 63, 70);
}



/* CHARACTER DETAILS PAGE ------------------------------------------ */
.buttonSymbol {
    width:50px;
    height:50px;
}
.buttonContainer {
    position: relative;
    left:30%;
    margin-top:-60px;

    width: 105px;
    height: 50px;

    border-radius: 10px;

    background-color: black;
}
#characterDetailPage {
    background-image: url("img/MetalGearSymbol.svg");
    
}
.characterIconDetial {
    position:relative;
    left: 15%;

    width: 350px;
    height: 350px;
}
.characterStats {
    position: relative;
    left:20%;
    width: 33%;
    height: 400px;
    margin-left:-60px;
    padding:10px;

    background-color: rgb(62, 63, 70);

    border: 10px solid black;

    
}
.characterStats ul {
    color:  beige;
    list-style:none;
    font-size: 2em;
    font-weight:normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 50px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    
    padding-left: 0px;
}
.characterMoveList {
    position:relative;
    left:22%;
    margin-top:100px;

    width:1100px;
    height: 350px;

    border: 10px solid black;

    background-color: rgb(62, 63, 70);
}

.characterCarousel {
    position: relative;
    left:15%;
    margin-top: 100px;
    margin-left:-60px;
    width: 1200px;
    
}
.characterIconCarousel {
    width:100px;
    height: 100px;
    border: 10px solid black;
    border-radius: 15px;
    background-color: rgb(107, 107, 107);
}
img.characterIconCarousel:hover {
    border-color:rgb(250, 207, 14);
}
.moveVisual {
    width:200px;
    height:200px;

    margin: 38px;
    background-color:rgb(107, 107, 107);
}

.moveVisual img{
    width:200px;
    height:200px;
    object-fit:cover;
}

.moveDetails {
    background-color:rgb(250, 207, 14);
    position:relative;

    width:200px;
    height:100px;

    margin-left:38px;
    margin-right:38px;

    color: black;
    text-align:center;
    font-size: 1.2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 50px;
    padding-bottom: 0px;

    border-radius:15px;
    animation: moveDetails 0.7s;
    z-index:-1;
}


/* TRANSITION ------------------------------------------------------ */
.transition {
    background-color:red;
    border: 50px solid black;
    border-right-width:100px;
    border-left-width:100px;
    position:absolute;
    z-index: 2;
    opacity: 0;
}
#transition1 {
    position:fixed;
    top:0%;
    left: 0%;
    animation: transition1 1s;
}
#transition2 {
    position:fixed;
    top:100%;
    left:0%;
    animation: transition2 1s;

}
#transition3 {
    position:fixed;
    top:0%;
    left:100%;
    animation: transition3 1s;
}
#transition4 {
    position:fixed;
    top:100%;
    left:100%;
    animation: transition4 1s;
}
#transition5 {
    position:fixed;
    top:0%;
    left:0%;

    width:100%;
    height:100%;
    background-color:black;

    z-index: 1;
    opacity:0;
    animation: transition5 1s;
}

@keyframes transition1 {
    0% { width:0px; height: 0px; opacity:1; }
    50% { width:35%; height:50%; opacity:1; }
    75% { width:35%; height:50%; opacity:1; border-left-width:150px; border-right-width:150px; }
    100% { width:0px; height: 0px; opacity:1; }
}
@keyframes transition2 {
    0% { width:0px; height: 0px; top:100%; opacity:1; }
    50% { width:35%; height:50%; top:50%; opacity:1; }
    75% { width:35%; height:50%; top:50%; opacity:1; border-left-width:150px; border-right-width:150px; }
    100% { width:0px; height: 0px; top:100%; opacity:1; }
}
@keyframes transition3 {
    0% { width:0px; height: 0px; left:100%; opacity:1; }
    50% { width:65%; height:50%; left:35%; opacity:1; }
    75% { width:65%; height:50%; left:35%; opacity:1; border-left-width:150px; border-right-width:150px; }
    100% { width:0px; height: 0px; left:100%; opacity:1; }
}
@keyframes transition4 {
    0% { width:0px; height: 0px; top:100%; left:100%; opacity:1; }
    50% { width:65%; height:50%; top:50%; left:35%; opacity:1; }
    75% { width:65%; height:50%; top:50%; left:35%; opacity:1; border-left-width:150px; border-right-width:150px; }
    100% { width:0px; height: 0px; top:100%; left:100%; opacity:1; }
}
@keyframes transition5 {
    0% { opacity:1; }
    75% { opacity:1; }
    100% { opacity:0; }
}

@keyframes moveDetails {
    0% { margin-top: -100px;}
    100% { margin-top: 0px;}
}




